<div class="comments">
<%= form_for ([@post, @post.comments.build]) do |f| %>
    <%= f.text_area :content, class: 'comments js-auto-size', id: 'alex2' ,:rows => 1  %>
    <%= f.submit "Submit", class: "btn btn-default" %>
    <%= f.hidden_field :post_id, value: @post.id %>
  <% end %>
</div>
