<nav class="navbar">
  <div class="container">
   <a class="logo three columns">Fakebook</a>

   <input type="search" value="Sök efter personer,platser och saker"class="five columns">
   <input type="submit" class="button-primary" value="Go">
    <a href="#" class="user-edit three columns">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg">
    <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
    <% if user_signed_in? %>
     <%= link_to current_user.email %>
    <% end %>
  <% end %>
  </a>
  </div>
</nav>
