<nav class="navbar">
  <div class="container">
   <a class="logo three columns">Fakebook</a>
   <input type="search" value="Sök efter personer,platser och saker"class="five columns">
   <input type="submit" class="button-primary" value="Go">
  <a href="#" class="user-edit three columns">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/chadengle/128.jpg">
    <span>Alexander</span>
  </a>
  </div>
</nav>
