
  <!-- col col-lg-4 col-md-6 col-sm-6 col-xs-12 -->
  <div class="post">
  <p><%= image_tag(@walls.post.image_url, :class => "img-responsive") %></p>
  <%=link_to post_path(post) do %>
  <% end %>
</div>
