input[type="text"]
  max-width: 100%
  width: 100%

input[type="file"]
  color: transparent
  display: none

.content-area
  overflow: hidden
  display: flex
  align-items: flex-start
  width: 100%
  max-width: 100%

  .content-profile-img
    img
      width: 40px
      height: 40px

  .content-text
    max-width: 100%
    width: 100%
    textarea
      border: none
      overflow: hidden
      color: #000
      max-width: 100%
      min-height: 65px
      width: 100%
      max-width: 100%
      resize: none
      word-break: break-word

input[type="submit"]
  background-color: #4267b2
  border-color: #4267b2
  font-size: 12px
  line-height: 22px
  padding: 0 16px
  height: auto
  color: white
  letter-spacing: -0.24px

  &:hover
    color: white
    background-color: darken(#4267b2, 5)
    border-color: darken(#4267b2, 5)
